<app-navbar></app-navbar>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="line-scale" [fullScreen]="true">
</ngx-spinner>
<section>
  <div class="container">
    <div class="row messages">
      <div class="col-sm-4 p-0">
        <div class="all_chats">
          <div class="myUser text-center">
            <b>{{ myUser.userName }}</b>
          </div>
          <div class="message-window">
            <div class="my-chats">
              <ul class="m-0 p-1">
                <li *ngFor="let users of userList" (click)="getChatUser(users._id)" class="users mt-2 mb-2">
                  <div class="d-flex">
                    <img src="{{ imgUrl + users.profilePic }}" class="myUser_img" />
                    <div class="isActive" *ngIf="users.isActive"></div>
                    <p class="mt-3">{{ users.userName | titlecase }} </p>
                    <!-- <span *ngIf="users.unreadMsg" class="un_read">{{users.unreadMsg}}</span> -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 p-0">
        <div class="chat_window">
          <div class="row">
            <div class="message_wndow">
              <div class='ideal_msg_wndow' *ngIf='!this.user'>

                <h5>Your Messages</h5>
                <p> Send private photos and messages to a friends.</p>
              </div>
              <div class="messages_box" class="col-sm-12" *ngIf="user">
                <div class="chat_user row">
                  <div class="col-sm-6">
                    <img src="{{ imgUrl + user.profilePic }}" style="
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    margin-right: 5px;
                    border: 2px solid #df5e5e8f;
                  " />
                    <span style="cursor: pointer">
                      {{ user?.userName }}
                      <p class="user_type" *ngIf="isUserTyping?.typing">{{isUserTyping?.userName}} typing...</p>
                    </span>
                  </div>
                  <div class="col-sm-6 multi">
                    <i class="fa fa-phone" style="font-size:24px;cursor: pointer;"></i>
                    <i class="fa fa-video-camera" style="font-size:24px;cursor: pointer;"
                      (click)='voiceCall(user._id)'></i>
                  </div>
                </div>
                <div id="messages_cus" (scrolledUp)="onScroll()" infinite-scroll
                  [infiniteScrollDistance]="scrollDistance" [scrollWindow]="false" [infiniteScrollThrottle]="throttle">
                  <ul id="message-list">
                    <div *ngFor="let messages of messageList; let i = index">
                      
                        <p class="cus_date" *ngIf="groupMessages( messages?.time , messageList[i -1]?.time)">{{ groupMessages( messages?.time , messageList[i -1]?.time ) }}</p>
                    

                      <li  [ngClass]="messages.sender == userId ?'msg_outgoing' : 'msg_incomming' ">


                        <small>{{ getMessageTime( messages?.time ) }}</small>
                        {{messages.message}}
                      </li>
                    </div>
                  </ul>
                </div>
                <div class="send_box text-center">
                  <input type="text" [(ngModel)]="message" class="col-sm-11 input_msg" placeholder="Message..." />
                  <span type="submit" (click)="SendMessage()" *ngIf="message" class="send_btn">Send</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>