<div class='app_header' *ngIf='displayElement'>
    <img class='app_headerImage'
        src=' https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png' [routerLink]='["/feed"]'>
    <div class='navLinks pt-2'>
        <ul>
            <li [routerLink]='["/feed"]' *ngIf='displayElement ' data-toggle="tooltip" data-placement="top" title="Home"><i class="fa fa-home" style="font-size:24px"></i></li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li [routerLink]='["/create"]' *ngIf='displayElement ' data-toggle="tooltip" data-placement="top" title="Create"><i class="fa fa-plus-square" style="font-size:24px; "></i></li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li [routerLink]='["/inbox"]' *ngIf='displayElement' data-toggle="tooltip" data-placement="top" title="Message"><i class="fa fa-commenting" style="font-size:24px"></i></li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li [routerLink]='["/notification"]' style="position: relative;"><i class="fa fa-heart" style="font-size:24px" title="Notification" ></i>
                <span class="noti_dot" *ngIf="isNewNoti"></span>
            </li>&nbsp;&nbsp;
            <li *ngIf='displayElement ' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img *ngIf='userData.profilePic' src='{{imgUrl}}{{userData.profilePic}}' style='height:30px;width:30px; border-radius:20px'>
                <img *ngIf='!userData.profilePic' src='assets\avatar.jpg' style='height:30px;width:30px; border-radius:20px'>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]='["/profile/"+userId]'>Profile</a>
                    <a class="dropdown-item" (click)='logOut()' *ngIf='displayElement ' data-toggle="tooltip" data-placement="top" title="Sign Out">Log Out</a>
                </div>
            </li>
        </ul> 
    </div>
</div>