.app_header {
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  padding: 2px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  z-index: 999;
  top : 0
}

.app_header img {
  cursor: pointer;
}
.navLinks ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
}
ul li {
  padding-top: 0px;
  margin-right: 10px;
  cursor: pointer;
}
ul li:hover {
  color: rgb(104, 102, 102);
}

.app_headerImage {
  height: 30px;
  top: 10px;
  position: relative;
}

.noti_dot{
  position: absolute;
  color: red;
  background: red;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  top: 28px;
  right: 9px;
}