<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "line-scale" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class='myCard'>
    <div class="card login_card">
        <div class="card-body">
            <div class='row'>
                <div class='col-sm-12'>
                    <h1 class='text-center'>
                        <i class="fa fa-lock  " style="font-size:50px"></i>
                    </h1>
                    <h3>Trouble Logging In?</h3>
                    <p>Enter your email and we'll send you a OTP to get back into your account.</p>
                </div>
            </div>
            <form [formGroup]='forgetForm' (ngSubmit)='onSubmit()'>
                <div>
                    <input type='text' placeholder="enter email..." autocomplete="off" formControlName='email'>
                    <button type='submit' class='btn btn-primary mt-2 mb-2' [disabled]='!forgetForm.valid'>Send OTP</button>
                </div>
            </form>
        </div>

        <div class='row OR'>
            <p >OR</p>
        </div>
        <div class="row">
            <strong class="col-sm-12" class="link" routerLink='/signup'>Create new account</strong>
        </div>
    </div>
</div>



<div class='card signupGo'>
    <div class='card-body'>
        <strong routerLink='/login' class="link">Back to login</strong>
    </div>
</div>