<div class='app '>
    <div class='app_posts text-center row'>
        <!-- <div class='loggedOut text-center col-sm-10'> -->
            <div class='instaImage'>
                <img src='assets\solen-feyissa-KWZa42a1kds-unsplash.jpg' class='Image'>
            </div>
            
        
            <div class='loginPrompt col-sm-12'>
                <img src='https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png'>
                <p class='text-center login mt-3' [routerLink]='["/login"]'>login</p>
                <P class='text-center signup' [routerLink]='["/signup"]'>signup</P>
            </div>
        </div>
    <!-- </div> -->
</div>