.notifications {
    // top: 50px;
    position: relative;
    width: 65%;
    margin: 0 auto;
    background: #e4e4e499;
    padding: 30px;
    border-radius: 5px;
}

.noti{
    border-bottom: 1px solid #ebe2e2;
}