
.app_posts{
    padding-top: 40px;
    width:500px;
    margin:0 auto;
    
}


//posts
.post{
    max-width:500px;
    background-color: white;
    border : 1px solid lightgray;
    margin-bottom: 50px;
    border-radius: 5px;
}

.post_image{
    width:100%;
    object-fit: contain;
    border-top :1px solid lightgray;
    border-bottom :1px solid lightgray;
}

.post_header{
    display: flex;
    align-items: center;
    padding: 5px;
}
.avatar{
    margin-right: 10px;
}
.post_text{
    padding: 20px;
    // border-bottom: 1px solid lightgray;
}
.commmentInput{
    border-top: 1px solid lightgray;
    border: none;
    outline: none;
    padding: 15px 0 0 11px;
    font-size: 15px;
    width: 90%;
    border-radius: 5px;

}

textarea {
    resize: inherit;
}
.commentSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}
.postComment{
    margin-right: 10px;
    
    cursor: pointer;
}
.postComment button{
    background:none;
    border:none;
    color: #9ed7fd;
    font-weight: 600;

}

.postComment button:not(:disabled){
    background:none;
    border:none;
    color:#0095f6;
    font-weight: 600;
}

.goto{
   cursor: pointer;
}

.actions{
    padding:20px
}

.liked {
    color: red;
    font-size: 16px; 
    cursor: pointer;
}

.nLiked{
    color: black;
    font-size: 16px;
     cursor: pointer;
}
